<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
</head>

<body>
    <header> <!--1.parentContainer -->
        <nav class="navBar"> <!--2.component -->

        </nav>
        <div class="heroSection"><!--2.component -->

        </div>

    </header>

    <main><!--1.parentContainer -->
        <div class="trendingNow"><!--2.component -->

        </div> 
        <div class="toJoin"><!--2.component -->

        </div>
        <div class="faq"><!--2.component -->

        </div>
        <div class="watch"><!--2.component -->

        </div>

    </main>

    <footer><!--1.parentContainer -->
        <div class="contact"><!--2.component -->

        </div>

    </footer>
</body>

</html>